{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6a69bd82c6.js" crossorigin="anonymous"></script>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_list.css' %}">
</head>

<body>
    <h1>Product List</h1>

    <section class="section-products">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header">
                        <h3>Featured Product</h3>
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}

                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="{{product.id}}" class="single-product" style="width: 250px; float: left;">
                        <div class="part-1">
                            <img src="https://i.ibb.co/L8Nrb7p/1.jpg" alt="" no-repeat center style="background-size: cover;">
                            <ul>
                                <li><a href="{% url 'add_to_cart' product.id %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">{{ product.name }}</h3>
                            <h4 class="product-old-price">${{ product.old_price}}</h4>
                            <h4 class="product-price">${{ product.price }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <a href="{% url 'view_cart' %}">View Cart</a>
</body>

</html>